<div *ngIf="dataloaded == true" class="paddingAll" fxLayoutGap="1rem" fxFlexFill fxLayout="column">
  <!-- <div fxLayout="row" >
    <button class="btn btn-primary" fxFlex="20%" (click)="openAddModal()">Schedule Meeting</button>
  </div> -->
  <!-- <form fxLayout="row" fxLayoutGap="1rem" [formGroup]="viewMeetingForm" (ngSubmit)="getMeetingBookings()">
    <div fxFlex="30%" class="form-group fullWidth">
      <span class="formLabel">Date*</span>
      <input [min]="min" [max]="max" formControlName="meetingdate" [ngClass]="{ 'invalid-input-box': submitted && f.meetingdate.errors }" class="form-control" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" name="meetingdate" [owlDateTimeFilter]="myFilter">
      <owl-date-time readonly [pickerType]="'calendar'" #dt1></owl-date-time>
      <div *ngIf="submitted && f.meetingdate.errors" class="invalid-input-text">
          <div *ngIf="f.meetingdate.errors.required">Date is required</div>
      </div>
    </div>
    <div fxFlex="20%" fxLayoutAlign="center center">
      <button class="fullWidth btn btn-primary" mat-raised-button color="primary">View Meetings</button>
    </div>
  </form> -->

  <!-- <form fxLayout="row" fxLayoutGap="1rem">
    <div fxFlex="30%" class="form-group fullWidth">
      <span class="formLabel">Filter By Title*</span>
      <input
      type="text"
      class="form-control"
      name="searchString"
      placeholder="Type to search..."
      [(ngModel)]="searchString"
      />
    </div>
  </form> -->
  <form fxLayout="row" fxLayoutGap="1rem">
    <div fxFlex="30%" class="form-group fullWidth">
    <mat-form-field appearance="fill" class="example-full-width">
      <input type="text"
             placeholder="Search By Title"
             aria-label="Number"
             matInput
             [formControl]="formSearch"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions" [value]="option.title">
          {{option.title}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  </form>

  <table id="meeting-table" class="table table-responsive">
    <thead>
      <th *ngFor="let head of displayedColumns" 
      [class.active]="order == head.id"
      (click)="setOrder(head.id)"
      >{{head.name}} <span [hidden]="reverse">▼</span
        ><span [hidden]="!reverse">▲</span>
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let game of gamedataSource | filter : 'title' : formSearch.value |  orderBy: order:reverse:'case-insensitive' | paginate: {itemsPerPage: size, currentPage: p}">
          <td>{{game.title}}</td>
          <td>{{game.platform}}</td>
          <td>{{game.score}}</td>
          <td>{{game.genre}}</td>
          <td [ngClass]="game.editors_choice == 'Y'?'green':'red'">{{game.editors_choice}}</td>
          <td>{{game.release_year}}</td>
      </tr>
    </tbody>
  </table>
  <pagination-controls fxLayout="row" fxLayoutAlign="end" autoHide="true" directionLinks="true" responsive="true" previousLabel="<"
        nextLabel=">" (pageChange)="p = $event"></pagination-controls>
</div>
<div class="red marginTop" *ngIf="dataloaded == false && loading == false" fxLayout="row" fxLayoutAlign="center center">  
  <h4>Something went wrong please try again later</h4>
</div>
<div class="red marginTop" *ngIf="loading == true" fxLayout="row" fxLayoutAlign="center center">  
  <h4>Loading...</h4>
</div>